<!DOCTYPE html>
<html>
<head>
    <title>문의 게시판</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='board.css') }}">

</head>
<body>
    <div class="board-header">
    <a href="{{ url_for('index') }}" class="logo-link">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="홈으로" class="logo-img">
    </a>
    <h1>문의 게시판</h1>
    <div class="header-actions">
        <a href="{{ url_for('new_post') }}" class="action-button">새 글 작성</a>
        <a href="{{ url_for('logout') }}" class="action-button">로그아웃</a>
    </div>
</div>

    <ul class="post-list">
        {% for post in posts %}
        <li class="post-item">
            <div class="post-info">
                <a href="{{ url_for('view_post', post_id=post.id) }}" class="post-title">{{ post.title }}</a>
                <span class="post-meta">({{ post.author.username }}, {{ post.date_posted.strftime('%Y-%m-%d %H:%M') }})</span>
            </div>
            {% if current_user == post.author %}
            <div class="post-actions">
                <a href="{{ url_for('edit_post', post_id=post.id) }}">수정</a>
                <a href="{{ url_for('delete_post', post_id=post.id) }}">삭제</a>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>